body{
    background-image: url(./imagen-fondo/FondoPerritos.jpg);
}

#titulo{
    text-align: center;
    background-color: antiquewhite;
}

.subtitulo{
    background-color: antiquewhite;
    width: 27%;
}

.verde {
    color: green;
}

.rojo {
    color: red;
}

.amarillo {
    color: gold;
}

.perro {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    margin-bottom: 10px;
}

#ContenedorPerros,
.flex {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "auto auto auto"
        "auto auto auto"
}

h3 {
    text-align: center;
    background-color: antiquewhite;
}

img {
    width: 200px;
    height: 200px;
}

p, .perrofamiliar, .perroguardian, .perroparaDueñosDeportistas{
    background-color: rgb(255, 255, 255);
}

#ContenedorCarrito {
    width: 500px;
    min-height: 150px;
    border: 2px solid black;
}

.perrofamiliar {
    border: 2px solid black;
}

.perrofamiliar h3 {
    background-color: green;
}

.perroguardian {
    border: 2px solid black;
}

.perroguardian h3 {
    background-color: red;
}

.perroparaDueñosDeportistas {
    border: 2px solid black;
}

.perroparaDueñosDeportistas h3 {
    background-color: gold;
}

.lista{
    background-color: antiquewhite;
    width: 12%;
}

